@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap");

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
