{{> header}}
                        <p>
                            You have Successfully completed the course
                        </p>
                        <div style="border: 1px solid #ccc; padding: 10px; margin: 10px 0; background-color: gray;">
                            <p>
                                <strong> {{courseName}} </strong>
                            </p>
                        </div>
                        <p>
                            Find your certificate attached with this email.
                        </p>
                        <p>Thanks, <br />Linear Depression team</p>
    </td>
</tr>
{{> footer}}
